<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/main.css" type="text/css">
    <link rel="stylesheet" href="/rotfonts.css" type="text/css">
    <title>FONTTEST</title>
  </head>
  <body>
    <h1>FONTTEST</h1>
    <p>content goes here</p>
    <table>
      <tr>
        % for i in range(26):
        <th>{{ i }}</th>
        % end
      </tr>

      <tr>
        % for i in range(26):
        <td style="font-family:rot{{ i }};">  a </td>
        % end
      </tr>
      <tr>
        % for i in range(26):
        <td style="font-family:rot{{ i }};">  b </td>
        % end
      </tr>
    </table>
    <div>
      <p>
        <span style="font-family:rot1;">{{ rotdict[1]['e'] }}</span>
        <span style="font-family:rot2;">{{ rotdict[2]['x'] }}</span>
        <span style="font-family:rot3;">{{ rotdict[3]['a'] }}</span>
        <span style="font-family:rot4;">{{ rotdict[4]['m'] }}</span>
        <span style="font-family:rot5;">{{ rotdict[5]['p'] }}</span>
        <span style="font-family:rot6;">{{ rotdict[6]['l'] }}</span>
        <span style="font-family:rot7;">{{ rotdict[7]['e'] }}</span>
      </p>
    </div>
  </body>
</html>
